.customFontSize {
  font-size: 10rem; /* Adjust the size as needed */

}

.stat-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.stat-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.07);
}

footer a:hover {
  color: #28a745 !important;
}


